@import './colors';

.jumbotron {
    background: url(../images/vegetables.jpg);
    background-position: center;
    h1 {
        color: white;
        filter: drop-shadow(2px 4px 6px black);
    }
}