@import './variables';

.fridge-item {
  height: calc(100vh - 331px);
  overflow-y: auto;
  
  img {
    width: 50px;
  }

  .fridges-table {
    .record {
      background-color: $yellow;
      color: $whiteText;
      border-radius: $borderRadius;
      border: 1px solid $yellow;
      margin-bottom: .2em;
      display: flex;
    }

    & > .record:last-child {
      margin-bottom: 0;
    }

    .header {
      font-weight: bold;
    }
  }

  .w-18 {
    width: 18%;
  }

  .w-5 {
    width: 5%;
  }

  .w-18, .w-5 {
    & > span {
      display: none;
    }
  }

  i.far {
    cursor: pointer;
  }

  .expired {
    color: $danger;
    font-weight: bold;
  }

  button {
    border-color: transparent;
    position: relative;
    height: 30px;
    width: 31px;
    & > i {
      position: absolute;
      left: 7px;
      top: 6px;
    }
  }

  @media (max-width: $mobile) {
    height: calc(100vh - 226px);

    .fridges-table {
      .record {
        border: none;
        display: block;
        &:first-child {
          display: none;
        }
        & > div {
          margin: .5em 0;
        }
        & > div:last-child {
          margin-bottom: 0;
          & > span {
            display: none;
          }
          & > button {
            color: $whiteText;
            background-color: $danger;
            border-color: $danger;
            width: 100%;
            height: 100%;
            & > i {
              position: initial;
            }
          }
        }
        & > div:first-child {
          margin-top: 0;
        }
      }
      .w-18, .w-5 {
        width: 100%;
        display: inline-flex;
        & > span {
          display: block;
        }
        & > span,div {
          width: 50%
        }
      }
    }  
  }
}