@import './variables';

.fridge-item {
  img {
    width: 50px;
  }

  table {
    background: $yellow;
    color: $whiteText;
    border-radius: 7px;

    td, th {
      vertical-align: middle;
      text-align: left;
    }
  }
}