@import './variables';

.fridge-item {
  img {
    width: 50px;
  }

  .fridges-table {
    .record {
      background-color: $yellow;
      color: $whiteText;
      border-radius: $borderRadius;
      border: 1px solid $yellow;
      margin-bottom: .2em;
      display: flex;
    }

    & > .record:last-child {
      margin-bottom: 0;
    }

    .header {
      font-weight: bold;
    }
  }

  .w-19 {
    width: 18%;
  }

  .w-5 {
    width: 10%;
  }

  .w-19, .w-5 {
    & > span {
      display: none;
    }
  }

  @media (max-width: 576px) { 
    .fridges-table {
      .record {
        border: none;
        display: block;
        &:first-child {
          display: none;
        }
        & > div {
          margin: .5em 0;
        }
        & > div:last-child {
          margin-bottom: 0;
        }
        & > div:first-child {
          margin-top: 0;
        }
      }
      .w-19, .w-5 {
        width: 100%;
        display: inline-flex;
        & > span {
          display: block;
        }
        & > span,div {
          width: 50%
        }
      }
    }  
  }
}